# 1. USING PYTHON AS CALCULATOR

In [1]:
4+5 #adition

9

In [2]:
5-4 #subtraction

1

In [3]:
5*4 #multipication

20

In [4]:
12/6 #division

2.0

## Modulo or "Mod" Operator (Gives back the Remainder)

In [6]:
7 % 4

3

In [11]:
50 % 5

0

## Power Operation in Python

In [13]:
2**3

8

## BODMAS and Bracket Operations in Python

In [17]:
2*3-2*2

2

In [18]:
(2 * (7-4)) * 3

18

# 2. VARIABLE ASSIGNMENTS

In [24]:
my_dogs = 5

In [25]:
print(my_dogs)

5

In [26]:
my_dogs = 10

In [27]:
print(my_dogs)

10

In [28]:
my_dogs + my_dogs

20

In [29]:
my_dogs = my_dogs + my_dogs

In [30]:
print(my_dogs)

20

## Determing Data Type of Variable

In [32]:
type(my_dogs)

int

In [33]:
my_dogs = 4.7777

In [34]:
type(my_dogs)

float

In [35]:
my_income = 100
tax_rate = 0.1
income_tax = my_income * tax_rate

In [36]:
print (income_tax)

10.0

# 3. DATA TYPES IN PYTHON

## INTRODUCTION TO STRINGS

In [37]:
"Hello"

'Hello'

In [38]:
"This is also a string"

'This is also a string'

In [39]:
'This is also a string'

'This is also a string'

In [40]:
print("hello")

hello

In [5]:
print('hello\nworld') 
#This is a line break command.

hello
world

In [7]:
print('hello\n world') #Notice the importance of space after \n.

hello
 world

In [46]:
print("hello \tworld") 
#This is a space command.

hello 	world

In [48]:
len("hello")
#This command shows the length the string.

5

In [49]:
len("I am")
#Here python is also counting the space.

4

## STRING INDEXING AND SLICING

In [50]:
my_string = "Hello World"
print(my_string[0])

H

In [52]:
print (my_string[8]) #Note that the python counts the space between the words too as a character.

r

In [53]:
print(my_string[-5])

W

In [55]:
my_string = "abcdefghijkl"
print(my_string[2:])
#This is slicing operation. The index number of c is 2. We want to print "c" and the rest of the part.

cdefghijkl

In [58]:
print(my_string[:3]) 
#Now we want to print from the start up to the character "c" which has index number 2.

abc

In [60]:
print (my_string[2:6])
#Now we are printing from "c" with index number 2 to "f" with index number "5".

cdef

In [63]:
print(my_string)

print (my_string[::2]) # The symbol "::" indicates - go from start to end AND "2" is the step size/jump size.

abcdefghijkl
acegik

In [64]:
print(my_string[::3])

adgj

In [66]:
print (my_string[2:9:2])

# Starting character: Upto but dont include: Step size

cegi

In [9]:
my_string = "abcdefghijkl"
print (my_string)
print (my_string [::-1])

# A smart trick to reverse the entire string taking step size -1.

abcdefghijkl
lkjihgfedcba

## STRING PROPERTISE AND METHODS

In [70]:
"""Suppose we have to change 
the first letter of Sam to Pam"""

my_name = "Sam"
name_piece = my_name[1:]
new_name = "P" + name_piece
print (new_name)

#This is called String Concatenation.

Pam

In [71]:
#Another example.

x = "Preetam"

print (x + " is a nice boy.")

Preetam is a nice boy.

In [73]:
letter = "z"
print(letter * 15)
#Printing variable letter 15 times.

zzzzzzzzzzzzzzz

In [75]:
2 + 3

5

In [77]:
'2' + '3'
#This becomes string concatenation.

'23'

In [10]:
 x = "Hello World"

print (x.upper()) #PRINT EVERYTHING IN UPPERCASE.

print (x.lower()) #print everything in lowercase.

print (x.split()) #This command lets you to create a *list of words* from a line/phrase.

HELLO WORLD
hello world
['Hello', 'World']

In [167]:
x = "Hii this is a string."
print (x.split())
#This command lets you to create a list from the words of a String.

['Hii', 'this', 'is', 'a', 'string.']

In [85]:
#lets us say we want to create a list from the string and also omit "i" !

x = "Hii this is a string."

print (x.split("i"))

['H', '', ' th', 's ', 's a str', 'ng.']

## USE OF .format() COMMAND

In [11]:
# Use of .format() command.

print ("This is a string {}".format("INSERTED."))

This is a string INSERTED.

In [88]:
print ("Anne Frank {} {} {} {}.".format("is", "a", "good", "book"))

Anne Frank is a good book.

In [89]:
print ("Anne Frank {3} {0} {1} {2}.".format("is", "a", "good", "book"))

Anne Frank book is a good.

In [90]:
print ("Anne Frank {3} {3} {3} {3}.".format("is", "a", "good", "book"))

Anne Frank book book book book.

In [91]:
print ("Anne Frank {i} {x} {g} {b}.".format(i ="is", x = "a", g = "good", b = "book"))

Anne Frank is a good book.

In [99]:
# float formatting method : it allows you to ajust the width and precision of your floating point number.
# float formatting syntax = {value : width . precision f} 
#width basically means the SPACE between the floating value and the string.
#Precision basically means how many digits do you want after decimal.
#There should be no space between precision and "f" or else python will give error.  

result = 100/777

In [100]:
print ("The result is {}.".format(result))

The result is 0.1287001287001287.

In [104]:
print ("The result is {r:1.5f}.".format(r = result))

The result is 0.12870.

In [105]:
print ("The result is {r:20.5f}.".format(r = result))
 #Showing the significance of Width Value.

The result is              0.12870.

## The f-strings Method

In [108]:
#There is another alternative of .format{} method.

result = 2.03334777777

print ("The result is {}.".format(result)) #.format{} method.

The result is 2.03334777777.

In [112]:
print (f"The result is {result}.") 
#This is called "f-strings or formatted-strings method"
#DO NOT PUT SPACE BETWEEN INITIAL "f" AND THE STRING OTHERWISE IT WILL GIVE ERROR

The result is 2.03334777777.

In [113]:
name = "Preetam"
age = 23

print(f"{name} is {age} years old.")

Preetam is 23 years old.

## LISTS IN PYTHON

In [14]:
my_list = ["string", 45.66667, 100]
print (my_list)

len(my_list) #Shows how many items are there in the list?

['string', 45.66667, 100]

3

In [15]:
print (my_list[0]) #Indexing operation on list.

print (my_list[1:])

string
[45.66667, 100]

In [16]:
another_list = ["preetam", "bikash", "pradhu"]
total_list = my_list + another_list
print (total_list) #Concatenation of list.

['string', 45.66667, 100, 'preetam', 'bikash', 'pradhu']

In [17]:
total_list[3] = "Rohit"
print(total_list) #Changing of datas in list.

['string', 45.66667, 100, 'Rohit', 'bikash', 'pradhu']

In [18]:
total_list.append("preetam") #Adding/Appending a new element to end of list.
print(total_list)

['string', 45.66667, 100, 'Rohit', 'bikash', 'pradhu', 'preetam']

In [19]:
total_list.pop() #It removes the last element of the list.
print (total_list)

['string', 45.66667, 100, 'Rohit', 'bikash', 'pradhu']

In [20]:
popped_item = total_list.pop()
print (popped_item)

pradhu

In [21]:
print(total_list)

['string', 45.66667, 100, 'Rohit', 'bikash']

In [22]:
#Now if we want to remove an item from a different place of the list just add its index number to POP command.

total_list.pop(1)
print (total_list) #The item 45.66667 with index number 1 is removed from the list now.

['string', 100, 'Rohit', 'bikash']

In [23]:
#Sorting of a list in alphabetical order.

new_list = ['a', 'x', 'd', 'j', 'p']
new_list.sort()
print (new_list)

['a', 'd', 'j', 'p', 'x']

In [24]:
num_list = [1, 7, 99, 46, 34, 78, 78.0005,  6, 45, 56] #Sort () command works for number lists also.
num_list.sort()
print (num_list)

[1, 6, 7, 34, 45, 46, 56, 78, 78.0005, 99]

In [27]:
print (num_list)
print (new_list)

num_list.reverse()
new_list.reverse()

print (num_list)
print (new_list)

#The reverse() command just sets the list in reverse order.

[1, 6, 7, 34, 45, 46, 56, 78, 78.0005, 99]
['a', 'd', 'j', 'p', 'x']
[99, 78.0005, 78, 56, 46, 45, 34, 7, 6, 1]
['x', 'p', 'j', 'd', 'a']

## WORKING WITH DICTIONARIES

In [30]:
my_dictionary = {'key1':'value1', "key2":"value2"}

#Notice the use of second bracket {} while declaring the dictionary.

#Now I want to access a particular value from the dictionary.

print(my_dictionary['key1'])

#Notice the use of third bracket while calling a value from the dictionary.

value1

In [31]:
#Also I can print my full dictionary.

print (my_dictionary)

{'key1': 'value1', 'key2': 'value2'}

In [32]:
#another example

grocery_prices = {"Cornflakes":"Rs.300", "Purabi":"Rs.25", "Maggi":"Rs.12"}

grocery_prices["Maggi"]

'Rs.12'

In [34]:
#We can insert a LIST or even another DICTIONARY inside a dictionary.

my_dict = {"key1":"value1", "key2":['a', 'b', 'c', 'd', 'e', 'f'], "key3":{"Ford":"Henry_Ford", "SpaceX":"Elon_Musk"}}

#Now suppose I want to access the letter d which is at index number 3 inside the list from the dictionary.

my_dict ["key2"][3]

'd'

In [35]:
#Now suppose I want to know who founded the company SpaceX from the dictionary.

my_dict ["key3"]["SpaceX"]

'Elon_Musk'

In [37]:
#Now suppose I want to make the name Elon_Musk ALL capital.

my_dict ["key3"]["SpaceX"].upper()

'ELON_MUSK'

In [40]:
print(my_dict)

#But as you can see below, the name of Elon_Musk has not been updated in the main dictionary.

{'key1': 'value1', 'key2': ['a', 'b', 'c', 'd', 'e', 'f'], 'key3': {'Ford': 'Henry_Ford', 'SpaceX': 'Elon_Musk'}}

In [43]:
#Adding a new value to the dictionary.
#We can also us ethe same method to change the value of any existing key inside a dictionary.

my_dict["key4"] = {"Tata":"Ratan_Tata"} 

my_dict

{'key1': 'value1',
 'key2': ['a', 'b', 'c', 'd', 'e', 'f'],
 'key3': {'Ford': 'Henry_Ford', 'SpaceX': 'ELON_MUSK'},
 'key4': {'Tata': 'Ratan_Tata'}}

In [44]:
#Let us try to permanently convert the letters of Elon_Musk to upper case in our dictionary.

my_dict["key3"]["SpaceX"] = my_dict["key3"]["SpaceX"].upper()

print (my_dict)

{'key1': 'value1', 'key2': ['a', 'b', 'c', 'd', 'e', 'f'], 'key3': {'Ford': 'Henry_Ford', 'SpaceX': 'ELON_MUSK'}, 'key4': {'Tata': 'Ratan_Tata'}}

In [46]:
#If I want to see all the keys in the dictionary.

my_dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [47]:
#If I want to see all the values inside the dictionary.

my_dict.values()

dict_values(['value1', ['a', 'b', 'c', 'd', 'e', 'f'], {'Ford': 'Henry_Ford', 'SpaceX': 'ELON_MUSK'}, {'Tata': 'Ratan_Tata'}])

In [48]:
 my_dict.items()
    
    #This is just another command if we want to see all the items of the dictionary.

dict_items([('key1', 'value1'), ('key2', ['a', 'b', 'c', 'd', 'e', 'f']), ('key3', {'Ford': 'Henry_Ford', 'SpaceX': 'ELON_MUSK'}), ('key4', {'Tata': 'Ratan_Tata'})])

## TUPLES IN PYTHON

In [61]:
#TUPLES ARE SIMILAR TO LISTS EXCEPT THEY ARE IMMUTABLE i.e VALUES INSIDE A TUPPLE CANNOT BE CHANGED LIKE A LIST.
    
my_list = ["preetam", 100, 45.778]
    
my_tuple = ("pradhugyna", 88.666, 50)

In [62]:
type(my_list)

list

In [63]:
type(my_tuple)

tuple

In [64]:
len(my_tuple) #To find number of elements in a tuple.

3

In [65]:
#We can also perform indexing and slicing in tuples.

print(my_tuple)

my_tuple[0:2:1] 

#Start : Stop but not include : Jump size

('pradhugyna', 88.666, 50)

('pradhugyna', 88.666)

In [67]:
my_tuple[0]

'pradhugyna'

In [68]:
#Using the .count() command we can determine how many times an element has been repeated in the tuple.

my_tupple = ('a','a','b','c')
my_tupple.count('a')

2

In [69]:
my_tupple.index('a')  
#Using this .index() command we can determine where an element has occured in tuple for the first tme.

0

In [70]:
my_tupple.index('c')

3

## INTRODUCTION TO SETS IN PYTHON

In [146]:
#Adiing elements to a set in python.

#Declaring a set
my_set = set()

#Adding elements to a set.
my_set.add("Mayur")

my_set.add(2) 

my_set.add(3)

my_set.add(4)

In [147]:
my_set

{2, 3, 4, 'Mayur'}

In [148]:
my_set.pop()
my_set

#As you can see, entities of the set are popped from the left.

{3, 4, 'Mayur'}

In [73]:
my_list = [1,1,1,1,1,1,2,2,2,2,2,2,3,3,3,3,3,3,3,3,4,4,4,4,4,4,4,45,5,5,6,6,6,6,56,7,7,7,7,]
my_set = set(my_list)
my_set

#In this way we can convert a list into a set 

#And SET always accepts only the UNIQUE values.

{1, 2, 3, 4, 5, 6, 7, 45, 56}

In [75]:
#A set converts even a string into a collection of unique letters.

my_set = set ("Mississippi is a river")
my_set

{' ', 'M', 'a', 'e', 'i', 'p', 'r', 's', 'v'}

## BOOLEANS

There are two types of Boolean **"True"** & **"False"**

In [76]:
 type(True)

bool

In [77]:
type(False)

bool

How to use them????

In [195]:
1 > 2

False

In [78]:
5 == 2.5*2

True

# 4. OPENING AND WORKING WITH .TXT (NOTEPAD) FILES IN PYTHON

Below is the way of creating a **.txt** (NOTEPAD) file in Jupyter Notebook.<br>
In these code we **CANNOT add a comment**. It shows error otherwise.<br>
The file created gets saved with the other .py files.

In [4]:
%%writefile myfile.txt

Hello Friends!
My name is Pritam Ranjan Kalita.
I am a student of Mechanical Engineering.
I live in Guwahati, Assam.

Overwriting myfile.txt

In [6]:
#To check where our notebook is currently located.

In [7]:
pwd

'C:\\Users\\HP\\My Python Notes'

In [213]:
#To call the .txt file created and work with it in the notebook first we have to assign a variable name to this file. 
my_file = open('myfile.txt')

In [225]:
#Now if we want to read our .txt file then...

my_file.read()

'\nHello Friends!\nMy name is Pritam Ranjan Kalita.\nI am a student of Mechanical Engineering.\nI live in Guwahati, Assam.\n'

In [226]:
#Now we cannot use .read() command directly for the second time. If we again use .read() this happens....

my_file.read()

''

In [227]:
#In order to use it second time we have to do this...

my_file.seek(0)
my_file.read()

'\nHello Friends!\nMy name is Pritam Ranjan Kalita.\nI am a student of Mechanical Engineering.\nI live in Guwahati, Assam.\n'

In [228]:
#Lets us first seek back to zero...
my_file.seek(0)

0

In [229]:
#Now there is another way to read a .txt file.

my_file.readlines()

['\n',
 'Hello Friends!\n',
 'My name is Pritam Ranjan Kalita.\n',
 'I am a student of Mechanical Engineering.\n',
 'I live in Guwahati, Assam.\n']

In [230]:
#If you want to open files saved in another location, feed the entire file path.
#For example, 

lucifer_file = open("D:\\MY PROJECTS\\python projects\\Lucifer.txt")

In [231]:
lucifer_file.readlines()

['Lucifer is a fantastic series.\n',
 'Tom Ellis is the playing the role of the protagonist Lucifer.\n',
 'I like to wath Tom Ellis.']

In [233]:
#close the file after you are dfone working with it. Otherwise it may create problem later on to work with the file.

my_file.close()

In [234]:
lucifer_file.close()

In [88]:
#Now there is different way to open files also in case we want to work with it in jupyter notebook .

with open("myfile.txt") as my_file:
    contents = my_file.read()       
    
    #Now whatever you want to do with your file you can do it here.

In [239]:
contents

'\nHello Friends!\nMy name is Pritam Ranjan Kalita.\nI am a student of Mechanical Engineering.\nI live in Guwahati, Assam.\n'

In [242]:
#MODES OF OPENING FILE
#1. mode ='r' is read only
#2. mode ='w' is write only (you can overwrite files or create new file!)
#3. mode ='a' is append only (to add something to files).
#4. mode ='r+' is for reading and writing
#5. mode ='w+' is for writing and reading

#Now how we can use this MODES????

In [91]:
%%writefile my_new_file.txt
THIS IS THE FIRST LINE.
THIS IS THE SECOND LINE.
THIS IS THE THIRD LINE.

Writing my_new_file.txt

In [93]:
#Here we are opening a new file and assigning it a variable name mynewfile.

with open("my_new_file.txt",mode ='r') as mynewfile: 
    print(mynewfile.read())

THIS IS THE FIRST LINE.
THIS IS THE SECOND LINE.
THIS IS THE THIRD LINE.

In [250]:
with open("my_new_file.txt",mode ='a') as mynewfile:
    mynewfile.write("THIS IS THE FOURTH LINE.")

In [251]:
with open("my_new_file.txt",mode ='r') as mynewfile: 
    print(mynewfile.read())

THIS IS THE FIRST LINE.
THIS IS THE SECOND LINE.
THIS IS THE THIRD LINE.
THIS IS THE FOURTH LINE.

In [253]:
with open("harrypotter.txt",mode ='w') as harrypotterfile:
    
    #Now this file does not exist but mode ='w' can CREATE A NEW FILE! 
    
    harrypotterfile.write("Welcome to Hogwarts School of Witchcraft and Wizardry!")

In [256]:
with open("harrypotter.txt",mode ='r') as harrypotterfile:
    
    print(harrypotterfile.read())
    
#Every time you try to open the file you have to write both these lines of code.

Welcome to Hogwarts School of Witchcraft and Wizardry!

# 5. PYTHON COMPARISON OPERATORS

In [94]:
2 == 2

True

In [95]:
2 == 1

False

In [96]:
'hello'=='bye'

False

In [97]:
'bye' == 'bye'

True

In [98]:
'2' == 2

False

In [99]:
2.0 == 2

True

**For inequality, we use exclamation "!=" sign.<br>
Here we are asking, "Is 3 NOT EQUAL to 3?" and aswer to which is FALSE.**

In [100]:
3 != 3

False

In [101]:
4 != 5

True

In [102]:
2 > 1

True

In [103]:
1 > 2

False

In [104]:
1 < 2

True

In [105]:
2 < 5

True

In [106]:
2 >= 2
#Here we are asking "IS 2 GREATER THAN OR EQUAL TO 2?"

True

In [107]:
4 <= 1
#"IS 4 LESS THAN OR EQUAL TO 1?"

False

# 6. LOGICAL OPERATORS IN PYTHON

There are 3 main logical operators in Python:

- **and**
- **or**
- **not**

In [108]:
1 < 2

True

In [109]:
2 < 3

True

In [110]:
#Now we can check both these statements simultaneously using "and" operator.

1<2 and 2<3

True

In [111]:
1<2 and 2>3

#The output to this is "False" because one of the statements 2>3 is false.
#The 'and' logic operator checks if both the statements are "simultaneously" true or not.

False

In [112]:
'h' == 'h' and 2 == 2

True

In [113]:
100 == 1 or 2 == 2

#Even if any one of the statements is true then the 'or' operator gives "TRUE" output.

True

In [114]:
#Not operator is used to give just the oposite result of the true result. 
#For example, we know 1 == 1. That is 100% true. Now see what happens on using 'not' operator....

not 1 == 1

False

In [116]:
#Another example...

not 400 > 5000

True

# 7. IF, ELIF, AND ELSE STATEMENTS IN PYTHON : NOW THE FUN BEGINS!

## Syntax for If, elif, and else statements-

if some_condition:
   #execute some code
elif some_other_condition:
   #do something different
else:
   #do something else
   
   Lets explore all this concepts!
   
(Do not run this block)

In [117]:
#Example

Hungry = True
if Hungry:
    print ("Feed me!")
else:
    print ("I am  not hungry!")

Feed me!

In [118]:
Hungry = False
if Hungry:
    print ("Feed me!")
else:
    print ("I am  not hungry!")

I am  not hungry!

In [119]:
location = "India"
if location == "India":
    print ("He is an Indian.")
else:
    print ("He is a Foreigner.")

He is an Indian.

In [120]:
location = "Canada"
if location == "India":
    print ("He is an Indian.")
elif location == "Pakistan":
    print ("He is a Pakistani.")
else:
    print ("He is a Foreigner.")

He is a Foreigner.

In [121]:
location = "Pakistan"
if location == "India":
    print ("He is an Indian.")
elif location == "Pakistan":
    print ("He is a Pakistani.")
else:
    print ("He is a Foreigner.")

He is a Pakistani.

# 8. For Loops in Python

In [122]:
#This is a good example of the use of "for" loop in Python.

#Declaring a list.
my_list = [1,2,3,4,5,6,7,8,9,10]

for num in my_list: 
#This means for every number in my_list. 
#"num" is just a name given for every item in the list

    #Check for Even.
    if num%2 == 0:  
        #This means if the number is even...
        
        print (num)
    else:
        print(f"Odd number:{num}")

Odd number:1
2
Odd number:3
4
Odd number:5
6
Odd number:7
8
Odd number:9
10

In [123]:
#To find the sum of every number in the list.

my_sum = 0
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list:
    my_sum = my_sum + num
print(my_sum)

55

In [124]:
#If I place the print staement inside the for loop then...

my_sum = 0
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list:
    my_sum = my_sum + num
    print(my_sum)

1
3
6
10
15
21
28
36
45
55

In [125]:
#For loops can also be used on strings.
my_string = "Hello World"
for letter in  my_string:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [126]:
#For loops can also be used on tuples.
my_tuple =  (2,3,4)
for num in my_tuple:
    print(num)

2
3
4


NOW NOTICE THE DIFFERENCE IN THE TWO CODES BELOW----

In [299]:
my_list = [(1,2),(3,4),(5,6),(7,8)]
for item in my_list:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [300]:
my_list = [(1,2),(3,4),(5,6),(7,8)]
for (a,b) in my_list:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [303]:
#This is called "Tuple Unpacking"**

In [304]:
my_list = [(1,2,3),(4,5,6),(7,8,9)]

#Now lets say I want to print only the middle number of each tupple.

for (a,b,c) in my_list:
    print(b)

2
5
8

**Using "for" loop for Dictionary**

In [153]:
my_dictionary = {"k1":1, "k2":2, "k3":3}
for item in my_dictionary:
    print (item)
    
#Here what we can see is the "for" loop does not consider the values of the keys while printing...

k1
k2
k3

In [155]:
#To make the "for" loop consider the values also, see the code below...

my_dictionary = {"k1":1, "k2":2, "k3":3}
for item in my_dictionary.items():
    print (item)

('k1', 1)
('k2', 2)
('k3', 3)

In [156]:
#We can use the concept of "tuple unpacking" here also.

my_dictionary = {"k1":1, "k2":2, "k3":3}
for (key,value) in my_dictionary.items():
    print (key)
    print (value)

k1
1
k2
2
k3
3

# 9. "While" loops in Python

The "while" loops will continue to execute a block of code WHILE some conditions remain true.

For example, while my pool is not full keep filling my pool with water.

Or, while my dogs are still hungry, keep feeding my dogs with food.

We can also combine a "with* statement with an "else" statement.

In [14]:
x = 0
while x<5:
    print (f"The value of x is {x}")
    x = x + 1
    #The above statement can also be writen as x += 1.Both are same.

else:
     print ("x is greater than 5")

The value of x is 0
The value of x is 1
The value of x is 2
The value of x is 3
The value of x is 4
x is greater than 5

# 10. Break, Pass, and Continue

We can use break, pass and continue statements in our loops to add additional funtionality for various cases.
The three statements are defined by-

1) **break**: breaks out of the current closest loop.

2) **pass**: does nothing at all.

3) **continue**: goes to the top of the closest loop.

In [161]:
x = [1,2,3]

for item in x: 
    #If currently we are not sure of what condition to give here and we wish to keep a void space for editing later--
    #In this case we use the "pass" command to left an unfilled space in loop.
    #In this way, the python won't show any error.
    pass
print ("End of script.")

End of script.

In [8]:
my_string = "Preetam"
for letter in my_string:
    
    if letter == 't':
        
        continue 
        #Now lets say I donot want to print the letter 't'. In this case I will use 'continue' command.
        #This means "DO NOT TAKE ANY ACTION".
        
    print (letter)
    
    #USE OF CONTINUE:
    #CONTINUE IS THE REPLACEMENT OF 2 LINES:
      #pass <<<---
    #else: <<<---
      #print (letter)

P
r
e
e
a
m

In [9]:
#The "break" command is used to stop/break a loop in the middle.

x = 0
while x < 5:
     
    print(x)
    x = x + 1
    
    if x == 2: #Now suppose we want to break this loop when x becomes equal to 2.
        break

0
1

# 11. USE OF RANGE FUNCTION:

In [10]:
#This 'range' funtion is used to create a simple list of integers.
#Syntax is range(start,stop(but not included),step size)
#Start and step size are optional.

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [11]:
#Suppose we want to print a list of integers starting from number 2 upto 20 and having a step size of 2.
for num in range(2,20,2):
    print(num)
    
#Here 20 is the stopping point and not included in the list.

2
4
6
8
10
12
14
16
18

**Another use of range**

In [12]:
list(range(6,30,3)) #Generate a list of 6 to 30 in step size of 3.

[6, 9, 12, 15, 18, 21, 24, 27]

# 12. USE OF ENUMERATE FUNCTION:

In [13]:
index_count = 0
my_string = 'preetam'
for letter in my_string:
    print ('The index of {} is {}.'.format(letter,index_count))
    index_count += 1

The index of p is 0.
The index of r is 1.
The index of e is 2.
The index of e is 3.
The index of t is 4.
The index of a is 5.
The index of m is 6.

In [22]:
my_string = 'preetam'
for item in enumerate(my_string):
    print(item)

#Now as soon we use the enumerate function python automatically prints the index position values for each letter.

(0, 'p')
(1, 'r')
(2, 'e')
(3, 'e')
(4, 't')
(5, 'a')
(6, 'm')

In [16]:
#Now here we can use the tuple unpacking and print the letters and the index separately.

my_string = 'preetam'
for (index,letter) in enumerate(my_string):
    print(letter)
    print(index)
    print('\n') 
    #Adding gap after every pair of letter,index.
    #Notice the quotation marks arround line break command.

p
0


r
1


e
2


e
3


t
4


a
5


m
6

# 13. USE OF ZIP FUNCTION.

In [18]:
my_letters = ['a','b','c']
my_numbers = [1,2,3]

for item in zip(my_letters,my_numbers):
    print(item)

#The zip function just entangles/joins the elements of both the list and creates a list of tuples out of it.

('a', 1)
('b', 2)
('c', 3)

In [19]:
my_letters = ['a','b','c']
my_numbers = [1,2,3]
my_names = ['preetam', 'pradhugyna', 'arunangshu']

for item in zip(my_letters,my_numbers,my_names):
    print(item)

('a', 1, 'preetam')
('b', 2, 'pradhugyna')
('c', 3, 'arunangshu')

In [40]:
list(zip(my_letters,my_numbers,my_names))

# To make a list out of the all tuples created by the zip() function.

[('a', 1, 'preetam'), ('b', 2, 'pradhugyna'), ('c', 3, 'arunangshu')]

# 14. USE OF 'MIN' & 'MAX' FUNCTION

In [342]:
my_list = [1,2,3,4,5,6,7,8,9]

In [343]:
min(my_list) 
#This will give me the minimum value of my_list.

1

In [344]:
max(my_list)
#This will give me the maximum value of my_list.

9

# 15. USE OF "RANDOM" LIBRARY: IMPORTING FUNCTIONS FROM A LIBRARY

In [24]:
from random import shuffle
#It says, from the "random" library, we are importing a function "shuffle"

my_list = [1,2,3,4,5,6,7,8,9]

shuffle(my_list)

print(my_list)
#The 'shuffle' function shuffles the elements inside a list.

[8, 4, 2, 9, 3, 7, 5, 1, 6]

In [30]:
from random import randint
#The 'randint' function is used to print a random number within a given range.

randint(0,300) 

#Grab a random int between 0 to 300.
#Everytime we run the code, it will give a different output.

249

# 16. HOW TO ACCEPT USER INPUT

In [31]:
# We can ask for user input using the 'input()' function.
# We can also store the user input inside a variable so that we can use it later.

user_age = input('Enter your age: ')

# Now the input given by user will be stored inside the user_age variable.

Enter your age: 24

In [32]:
#The input function always accepts the inputs as String.
#We can convert the inputs as per our need into float/integer value.

In [33]:
float(user_age)

24.0

In [34]:
int(user_age)

24

In [2]:
#We can do this in one line of code also.

In [35]:
my_age = int(input('Enter your age: '))

Enter your age: 23

In [36]:
type(my_age)

int

# 17. LIST COMPREHENSIONS - VERY USEFUL TRICK!

**List comprehensions are a unique way of quickly creating a list in Python.**

In [37]:
my_string = 'preetam'

# Declaring an empty list.
my_list = []

for letter in my_string:
    my_list.append(letter)
    # It means that "for every leter in my_string, append the letter to the  my_list."
    
print(my_list)

['p', 'r', 'e', 'e', 't', 'a', 'm']

In [8]:
#There is a more efficient way to create a list in Python....

In [38]:
my_string = 'preetam'
my_list = [letter for letter in my_string] #It means print that letter inside the list for every letter in my_string.

print(my_list)

['p', 'r', 'e', 'e', 't', 'a', 'm']

**Another Example**

In [14]:
my_list = [num for num in range(0,30)]
print (my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [15]:
#We can also perform operations on each number in the list all at the same time.
#For example we can square each number on the list.

my_list = [num**2 for num in range(0,30)]
print (my_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

In [39]:
#We can also use if statement inside the lists.
#For example lets say we want only even numbers in our list between 0 to 30.

my_list = [num for num in range(0,30) if num%2 == 0]
print (my_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [20]:
#Converting the Celsius temperature to Farenheit. 
#Formula is (9/5)*temp + 32.

celsius = [0,35,57,86,23,78] #These are the temperatures in celsius.

fahrenheit = [(temp*(9/5)+32) for temp in celsius]
print(fahrenheit)

[32.0, 95.0, 134.60000000000002, 186.8, 73.4, 172.4]

In [21]:
#We can acheive the same results using 'for' loop also.

celsius = [0,35,57,86,23,78]
fahrenheit = []

for temp in celsius: 
    fahrenheit.append((9/5)*temp+32)
print (fahrenheit)

#List Comprehension technique requires less lines of code.

[32.0, 95.0, 134.60000000000002, 186.8, 73.4, 172.4]

In [35]:
#We can also use if-else inside a list.

my_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,117,18,19,20]

my_list2 =[num if num%2 == 0 else 'ODD' for num in my_list ]
#It means print the number in my_list2 if it is even else print odd for every number in my_list.

print(my_list2)

['ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10, 'ODD', 12, 'ODD', 14, 'ODD', 16, 'ODD', 18, 'ODD', 20]

In [36]:
#Multiplying each number of one list with each numnber of another list and creating a new list out of results.
#There are 2 ways to do this..
#Way 1:

my_list = []
for x in [2,4,6]:
    for y in [1,3,5]:
        my_list.append(x*y)
print(my_list)

[2, 6, 10, 4, 12, 20, 6, 18, 30]

In [38]:
#Way 2: Single line code

my_list =[x*y for x in [2,4,6] for y in [1,3,5]]
print (my_list)

[2, 6, 10, 4, 12, 20, 6, 18, 30]

# 18.USE OF HELP FUNCTION

**The 'help' function is used to learn about the utility of various built-in functions in Python.**

In [42]:
help(my_list.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [43]:
help(my_list.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [44]:
help(my_list.clear)

Help on built-in function clear:

clear() method of builtins.list instance
    Remove all items from list.

# 19. def keyword: CREATING FUNCTIONS IN PYTHON

**Funtions allow us to create blocks of code that can be easily executed many times, without requiring to constantly 
rewrite the entire block of code.**

**Functions will be a huge leap forward in your abilities as a programmer.**

**This means that you will be able to solve a lot harder problems.**

In [41]:
#A simple example of creating a funtion to print "Hello".

def say_hello():
    print("Hello!") 

say_hello() #Calling the funtion.

#While calling the function we must add parenthesis () after the name of the funtion.

Hello!

In [42]:
#Using a variable inside a function.

def say_hello(name):
    print(f"Hello!{name}") #Note that the variable name can be anything! 

say_hello("Preeetam") #While calling the function you need to specify the value of the variable.

Hello!Preeetam

In [43]:
#We can also give a default value to the variable inside the function.
#Then every time we call the function we do not have to specify the value of the variables.

def say_hello(name = 'Preetam'):
    print(f"Hello!{name}") 

say_hello()

Hello!Preetam

**Using 'return' inside a function**

In [44]:
# return command is similar to print() command in terms of usage. 
# An example:

def add_num(num1,num2):
    return num1 + num2

In [53]:
add_num(10,20)

30

**We can also use 'return' and 'print' commands simultaneously inside a function so, that we can print (see ourselves) the 
the result and also be able to save the result inside a variable.**

In [46]:
def add_num(num1,num2):
    return num1 + num2

result = add_num(10,20)
print (result)

30

# 20. LOGIC WITH PYTHON FUNCTIONS

In [63]:
#A PROGRAM TO CHECK IF A NUMBER IS EVEN OR NOT.

def even_check(number):
    return number%2 == 0

In [64]:
even_check(20)

True

In [65]:
even_check(47)

False

In [50]:
# A PROGRAM TO CHECK IF ALL THE NUMBERS INSIDE A LIST ARE EVEN OR NOT.
# IF ALL THE NUMBERS INSIDE A LIST ARE EVEN THE FUNCTION WILL RETURN 'TRUE'.
# IF ALL THE NUMBERS INMSIDE A LIST ARE NOT EVEN THEN THE FUNCTION WILL RETURN 'FALSE'.

def even_check_list(my_list):
    for number in my_list:   
        if number%2 == 0:    
            return True      
        else:
            return False

In [51]:
even_check_list([1,2,3])

False

In [52]:
even_check_list([1,3,5])

False

In [78]:
#Now if I say I have have to return all the even numbers in the list....

even_numbers = [] #Creating an empty list #Place Holder.

def even_check_list(my_list):
    for number in my_list:   
        if number%2 == 0:   
            even_numbers.append(number) #If the number is even, append it to the list of even_numbers.     
        else:          
            pass
    return(even_numbers) #After checking every number in the list, return the list of even numbers.

In [79]:
even_check_list([1,2,3,4,5,6,7,8,9])

[2, 4, 6, 8]

In [80]:
even_check_list([23,56,78,97,100,45,667,339,20,87])

[2, 4, 6, 8, 56, 78, 100, 20]

# 21. TUPLE UNPACKING WITH PYTHON FUNCTIONS

In [55]:
#Let us create a program to find the employee of the month by comparing their working hours in a month.

employee_hours_list  = [("Preetam",200),("Rohit",250),("Snigdha",600),("Bikash",400),("Prahugyna",450)]
#First I provided a list of tuples consisting of (employee,working hours).

def employee_of_the_month(employee_hours_list): #I created a function which will consider my given list.
    
    hours = 0 #Inside the funtion I am declaring a variable hours with value 0. 
    employee_of_the_month='' #Also I am declaring an empty string.
    
    for employee,work_hours in employee_hours_list: #Check for every employee,work_hours in the given list.
        if work_hours>hours:
            hours = work_hours  #If the work_hours is greater than the current hours value then update the hours value.
            employee_of_the_month = employee  #And update the corresponding employee_of_the_month.
        else:
            pass 
        #Else if new work_hours value is less than the last hours value updated then 'pass'i.e dont update anything.
         
    return (employee_of_the_month,hours)  
   #After checking the whole given list i.e completing the for loop for all items given, return the final (employee_of_the_month,hours)

In [56]:
employee_of_the_month(employee_hours_list)

('Snigdha', 600)

So, our employ of the month is 'Snigdha' with 600 hours

Now we can use Tuple unpacking with the results too.

In [57]:
name,hours = employee_of_the_month(employee_hours_list)

In [58]:
name

'Snigdha'

In [59]:
hours

600

# 22. THE $*$args AND $**$kwargs IN PYTHON

***args stands for 'arguments'** 

If we place *args inside bracket in the place of arguments while defining a function, it allows us to place as 
many arguments/function variables as we wish inside the function while calling it.

Basically, it allows us to work with infinite number of varibles (as per our wish) inside a function.

**Example: Difference between using *args and NOT using *args.**

In [ ]:
#A function to add ONLY 2 numbers:

def myfunc(a,b):
    return sum((a,b)) 
#We are using double brackets here because sum function only accepts tuples.

In [17]:
myfunc(40,60)

100

In [ ]:
#A function to add ANY amount of numbers: (using *args)

def myfunc(*args):     #*arg signifies that the user may enter any number of arguments.
    return sum(args)   #sum(args) signifies all the arguments passed on will be accepted as a single tuple by default. 
                       #Here double brackets are not required.

In [19]:
#Now I will call the 'myfunc' function and I will give as much number of arguments/variables as I desire...

#Lets us find the sum of all numbers from 1 to 10.

myfunc(1,2,3,4,5,6,7,8,9,10)

55

**It is worth noting that the word "args" is itself arbitrary - any word will do so long as it's preceded by an asterisk'*'. To demonstrate this:**

In [21]:
def myfunc(*spam):
    return sum(spam)

myfunc(40,60,20,78,56,35,67,89,60,14,38)

557

****kwargs stands for 'keyworded arguments'** 

The special syntax ****kwargs** in function definitions in python is used to pass a keyworded, variable-length argument list. We use the name kwargs with the double star.

A **keyword argument** is where you provide a name to the variable as you pass it into the function.

In [5]:
#Python program to illustrate use of **kwargs argument.

def myfunc(**kwargs):
    
    for key,value in kwargs.items(): 
    # Remember this syntax!
    # Notice here we do not write ** infront of kwargs again.
    
        print ("{} worked {} hours.".format(key,value))

myfunc(Preetam=100, Bikash=200, Rohit=250, Pradhugyna=150)

# When we enter kwargs or keyworded arguments inside our function
# they are entered in the form of ---- function(key1 = value1, key2 = value2)

Preetam worked 100 hours.
Bikash worked 200 hours.
Rohit worked 250 hours.
Pradhugyna worked 150 hours.

In [8]:
#Another example:

def myfunc(**kwargs): 
    
    if 'fruit' in kwargs: #If 'fruit' keyword is included in the keyworded argument entered..
        print ("My favorite fruit is {}.".format(kwargs['fruit']))
        
    else:      #If 'fruit' keyword NOT is included in the keyword arguments entered then...
        print ("I donot have any favorite fruit!")

In [9]:
myfunc(fruit = 'Mango')

My favorite fruit is Mango.

In [11]:
myfunc(game = 'Football')

I donot have any favorite fruit!

**Note: Any name can be choosen instead of "kwargs" as long as it is preceded by a ****

**Example of using both *args and **kwargs simultaneously.**

In [15]:
def my_func(*args,**kwargs):
    print ("I would like to have {} {}".format(args[0],kwargs['beverage']))
    print ("and {} {}".format(args[1],kwargs['fruit']))

In [17]:
my_func(1,2, beverage ='coffee',fruit ='bananas')
#Since while defining the function  my_func(*args,**kwargs) we first mentioned *args,
#therefore while calling the function later we must mention all the args (numbers) first and then kwargs (keywords)
#inside the bracket.

I would like to have 1 coffee
and 2 bananas

# 23. USE OF MAP FUNCTION.

In [30]:
#Suppose I made a number squaring function.

def square(num):
    return num**2

#Now I made a list of some random numbers.

my_list = [1,2,3,4,5,6,7,8,9]

#Now I want to apply the squaring function to each and every number of the list.
#This is where we can use 'map' function.

for item in map(square,my_list):
    # Notice one thing that - inside the map() function 
    # FIRST thing we write is the FUNCTION name
    # and in the SECOND place we write the name of the LIST.
    print (item)

1
4
9
16
25
36
49
64
81

In [31]:
#So, now every number is squared!

In [32]:
#Now, If we want the results in form of list then...

list(map(square,my_list))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

**Another Example**

In [35]:
#Defining the function.
#-----------------------------------------------------------------------------------------------------------------------

def my_func(mystring): #The function my_func is going to take mystring as variable.
    
    if len(mystring) % 2 == 0: #If total length of mystring/number of characters in mystring is evenn then.. 
        return 'EVEN'
    else:
        return 'ODD'
    
#Defining the list.
#------------------------------------------------------------------------------------------------------------------------ 
names = ['Preetam', 'Rohit', 'Pradhugyna', 'Bikash', 'Bikram']

#Using Map function.
#------------------------------------------------------------------------------------------------------------------------
list(map(my_func,names))

['ODD', 'ODD', 'EVEN', 'EVEN', 'EVEN']

# 24. USE OF FILTER FUNCTION.

In [43]:
#First, I  shall make a function to check if a number given is even or not.

def check_even(num):
    return num % 2 == 0 #If the number is even, it returns 'True' otherwise retyurns 'False'.

#Now, I am gona declare a list of diffrent numbers.

my_list = [24,56,79,47,30,23,781]

#Now I want to filter out all the even numbers from the list 
#and create a new list using the above defined function check_even.

#The filter function applies the check_even function 
#and includes only those numbers in the new list which satisfy its even condition.
#--------------------------------------------------------------------------------------------------------------

list(filter(check_even,my_list))

[24, 56, 30]

In [45]:
#Another way to print the numbers is...

for num in filter(check_even,my_list):
    print (num)

24
56
30

**PROGRAM TO TAKE ARBITRARY NUMBERS AND RETURN LIST OF EVEN NUMBERS ONLY ---- WITHOUT USING filter() FUNCTION.**

In [46]:
my_list = []
def myfunc(*args):
    for num in (args):
        if num % 2 == 0:
            my_list.append(num)
        else:
            pass 
    return my_list

In [48]:
myfunc(20,46,79,37,69,81,30,43.999,75,23,67,83)

[20, 46, 30]

# 25. USE OF LAMBDA EXPRESSIONS.

One of Pythons most useful (and confusing for beginners) tools is the lambda expression. lambda expressions allow us to create "anonymous" functions that are for one time use only without defining a proper function using 'def'.

**lambda's body is a single expression, not a block of statements**

 lambda is designed for coding simple functions, and def handles the larger tasks.

Lets slowly break down a lambda expression by deconstructing a function:

In [49]:
def square(num):
    result = num**2
    return result

In [50]:
square(9)

81

We could simplify it:

In [51]:
def square(num):
    return num**2

In [52]:
square(9)

81

We could actually even write this all on one line.

In [ ]:
def square(num): return num**2

In [53]:
square(9)

81

**This is the form that a lambda expression intends to replicate. A lambda expression can then be written as:**

In [54]:
lambda num: num ** 2 

# Remember this syntax.

In [55]:
# You wouldn't usually assign a name to a lambda expression, this is just for demonstration!
square = lambda num: num **2

In [56]:
square (9)

81

**So why use this? Many function calls need a function passed in, such as map and filter. Often you only need to use the function you are passing in once, so instead of formally defining it, you just use the lambda expression.**

In [57]:
my_list = [1,2,3,4,5,6,7,8,9]

In [58]:
#Creating a list of all squared numbers from a given list. 
list(map(lambda num: num**2, my_list))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [59]:
#Creating a list of all even numbers from a given list. 
list(filter(lambda num: num % 2 == 0, my_list))

[2, 4, 6, 8]

**You can even pass in multiple arguments into a lambda expression. Again, keep in mind that not every function can be translated into a lambda expression.**

In [60]:
lambda x,y : x + y

**Lambda expression for grabbing the first character of a string.**

In [62]:
names = ['Preetam', 'Rohit', 'Pradhugyna', 'Bikash', 'Bikram']

In [63]:
list ( map (lambda name: name[0], names))

['P', 'R', 'P', 'B', 'B']

# 26. LOCAL VARIABLES AND GLOBAL VARIABLES.

Now that we have gone over writing our own functions, it's important to understand how Python deals with the variable names you assign. When you create a variable name in Python the name is stored in a name-space.

Take a look at the following code:

In [1]:
x = 25

def printer():
    x = 50
    return x

After, executing this whole code once > Now, when we simply call the value of variable x, we get 25:

In [3]:
print(x)

25

But when we call for the function printer(), see what happens:

In [4]:
print(printer())

50

Again, If we simply call variable x:

In [5]:
print (x)

25

So, we observe that Python treats the values of **x = 25** (*Mentioned outside of the function*) and **x = 50** (*Mentioned inside the function*) as **TWO DIFFERENT VARIABLES**.

Here, the variable **'x = 25'** is a **GLOBAL VARIABLE** and the variable **'x = 50'** is a **LOCAL VARIABLE**.

Another Example:

In [7]:
x = 50

def func(x):
    print('x is', x)
    x = 2
    print('Changed local x to', x)

func(x)

print(x)

x is 50
Changed local x to 2
50

As you can see the main value of variable x remains unchanged i.e x = 50.

Here, the variable **'x = 50'** is a **GLOBAL VARIABLE** and the variable **'x = 2'** is a **LOCAL VARIABLE**.

## Local Variables:
    
   Variables declared inside a function definition. They are not related in any way to other variables with the same names        used outside the function. This is called the scope of the variable. The scope determines the visibility of that variable      name to other parts of your code. All variables have the scope of the block they are declared in.

## The global Statement:

Take a look at the following code again:

In [15]:
x = 25

def printer():
    x = 50
    return x

print (x)
print(printer())

25
50

Now, suppose I want to change the value **x = 25 to x = 50** inside the function **printer()** AND **I WANT TO KEEP THAT CHANGE (x = 50)  PERMANENT AFTER CALLING MY FUNCTION ONCE.**

   This is where we use the global statement. Look at the code below and analyse the results:

In [24]:
x = 25

def printer():
    global x
    x = 50
    return x

In [25]:
print (x)

25

In [26]:
printer()

50

In [27]:
print (x)

50

**Another Example**

In [28]:
x = 50

def func():
    global x
    print('This function is now using the global x!')
    print('Because global x is: ', x)
    x = 2
    print('func(), changed global x to', x)

print('Before calling func(), x is: ', x)
func()
print('Value of x (outside of func()) is: ', x)

Before calling func(), x is:  50
This function is now using the global x!
Because global x is:  50
func(), changed global x to 2
Value of x (outside of func()) is:  2

In [29]:
print(x)

2

The **global statement** is used to declare that **x** is a **global variable** - hence, when we assign a value to x inside the function, that change is reflected when we use the value of x in the main block.

You can specify more than one global variable using the same global statement e.g. **global x, y, z**.

# 27. VALIDATING USER INPUT

## A function to check whether the string entered is an integer or not - "$.isdigit()$"

In [1]:
some_input = '10'
some_input.isdigit()

True

## A program to check if the input provided by the user is an integer or not.

In [13]:
def user_choice():
    
    choice = "wrong"
    # This original choice value can be anything that isn't an integer
    
    while choice.isdigit() == False:
    # While the choice is not a digit, keep asking for input.
        
        choice = input("Please a digit: ")
        # we shouldn't convert here, otherwise we get an error on a wrong input
        
    return int(choice)
    # We can convert once the while loop above has confirmed we have a digit.

In [14]:
user_choice()

Please a digit: hello
Please a digit: two
Please a digit: 2

2

## Let's try adding an error message within the while loop!

In [11]:
def user_choice():
    
    # This original choice value can be anything that isn't an integer
    choice = 'wrong'
    
    # While the choice is not a digit, keep asking for input.
    while choice.isdigit() == False:
        
        # we shouldn't convert here, otherwise we get an error on a wrong input
        choice = input("Choose a number: ")
        
        # Error Message Check
        if choice.isdigit() == False:
            print("Sorry, but you did not enter an integer. Please try again.")
    
    # We can convert once the while loop above has confirmed we have a digit.
    return int(choice)

In [12]:
user_choice()

Choose a number: two
Sorry, but you did not enter an integer. Please try again.
Choose a number: 2

2

## Now let's explore how to "clear" the output, that way we don't see the history of the "Choose a number" statements.

In [15]:
from IPython.display import clear_output
clear_output()

In [17]:
def user_choice():
    
    # This original choice value can be anything that isn't an integer
    choice = 'wrong'
    
    # While the choice is not a digit, keep asking for input.
    while choice.isdigit() == False:
        
        # we shouldn't convert here, otherwise we get an error on a wrong input
        choice = input("Choose a number: ")
        
        if choice.isdigit() == False:
            # THIS CLEARS THE CURRENT OUTPUT BELOW THE CELL
            clear_output()
            
            print("Sorry, but you did not enter an integer. Please try again.")
            
    
    # Optionally you can clear everything after running the function
    # clear_output()
    
    # We can convert once the while loop above has confirmed we have a digit.
    return int(choice)

user_choice()

Sorry, but you did not enter an integer. Please try again.
Choose a number: 56

56

<div class="alert alert-block alert-info">
<b>Note:</b> clear_output() will only work in jupyter. To clear the screen in other IDEs, consider:<br><br>
    print('\n'*100)<br><br>
    This scrolls the previous board up out of view.
</div>

Now on to the program!

## A Program To Check The User Input Against Multiple Possible Values

In [18]:
result = 'wrong value'
acceptable_values = ['0','1','2']

In [19]:
result in acceptable_values

False

In [20]:
result not in acceptable_values

True

In [21]:
from IPython.display import clear_output
clear_output()

In [22]:
def user_choice():
    
    # This original choice value can be anything that isn't an integer
    choice = 'wrong'
    
    # While the choice is not in the list, keep asking for input.
    while choice not in ['0','1','2']:
        
        # we shouldn't convert here, otherwise we get an error on a wrong input
        choice = input("Choose one of these numbers (0,1,2): ")
        
        if choice not in ['0','1','2']:
            # THIS CLEARS THE CURRENT OUTPUT BELOW THE CELL
            clear_output()
            
            print("Sorry, but you did not choose a value in the correct range (0,1,2)")
            
    
    # Optionally you can clear everything after running the function
    # clear_output()
    
    # We can convert once the while loop above has confirmed we have a digit.
    return int(choice)

user_choice()
# Calling the function.

Sorry, but you did not choose a value in the correct range (0,1,2)
Choose one of these numbers (0,1,2): 2

2

### One More Example

In [23]:
def user_choice():
    
    choice ='WRONG'
    within_range = False
    
    while choice.isdigit() == False or within_range == False:
        
    
    
        choice = input("Please enter a number (0-10): ")
        
        if choice.isdigit() == False:
            print("Sorry that is not a digit!")
            
        if choice.isdigit() == True:
            if int(choice) in range(0,10):
                within_range = True
            else:
                within_range = False
        
    
    return int(choice)

user_choice()

Please enter a number (0-10): 67
Please enter a number (0-10): 78
Please enter a number (0-10): 5

5

# 28. OBJECT - ORIENTED PROGRAMMING
---

## Object and Class:
---
- In OOP, ***every non-empty variable or a piece of data*** is called an **Object.**.
- Every object falls under a particular ***Type or Class of Objects*** which can be determined using `type()` function.
- Integer, Boolean, String, Float, List, Tuple, Set etc. are some examples of ***Type or Class of Objects*** in Python.

In [10]:
type(1)
# Here, 1 is an Object 
# And it belongs to the Class of Integer.

int

In [11]:
type([])
# Here empty list ([]) is an Object 
# And it belongs to the Class of List.

list

In [1]:
my_string = "preetam"
type(my_string)
# Here variable my_string is an Object 
# And it belongs to the Class of string.

str

## The `class` Keyword:
---
- How can we create our own ***TYPES OR CLASSES of Objects***? That is where the `class` keyword comes in.<br><br>
- User defined **Class** of objects are created using the `class` keyword.<br><br>
- From classes we can construct *instances*. An **instance** is a specific **object** which is created from a particular ***class***.

In [2]:
# Create a new object type/class called Sample
class Sample:
    pass

# Creating an Instance/Object from Sample class.
x = Sample()

type(x)

__main__.Sample

- **By convention we give classes a name that starts with a capital letter.**<br><br>
- Inside of the class we currently just have pass. But we can define class attributes and methods.<br><br>
- An **attribute** is a characteristic of every ***object/instance*** within a ***class***.<br><br>
- A **method** is an operation we can perform with the every ***object/instance*** within a ***class***.<br><br>
- For example, we can create a class called Dog. An attribute of a dog may be its breed or its name, while a method of a dog may be defined by a .bark() method which returns a sound.

## Attributes
---

**Syntax for creating attributes:**

In [3]:
class Dog:
# Creating a class of objects called Dog.

    def __init__(self,breed):
    # The __init__() is a special method which is used to define the attributes of any object created within the class.
    # The word 'self' signifies an object/instance created within the class. 
    # Any instance/object created within the Dog class will have an attribute/characteristic of its own called 'breed'.
    # This attribute/characteristic 'breed' will be defined for every object/instance of the class 'Dog' 
    # at time of its creation.
    
        self.breed = breed
        # This means when we code "instance.breed" into the console
        # it will return us the value of 'breed' that we have assigned to -- that instance -- with the class of Dog.

**Creating Instances from a Class:**

In [4]:
# Creating an instance of the class Dog and assigning its attribute values:

frankie = Dog(breed = 'Labrador')

# frankie is an object of class Dog.
# The value of the attribute breed for frankie is string 'Labrador'

In [5]:
# Creating another instance of class Dog and assigning its attribute values:

jerry = Dog(breed = 'Huskie')

# jerry is an object of class Dog.
# The value of the attribute breed for jerry is string 'Huskie'

Now we have created two instances of the Dog class. With two breed types, we can then access these attributes like this:

In [6]:
frankie.breed

'Labrador'

In [7]:
jerry.breed

'Huskie'

Note how we don't have any parentheses after breed; this is because **it is an attribute and doesn't take any arguments**.

In Python there are also ***class object attributes***. These Class Object Attributes are the same for any instance of the class.

For example, we could create the attribute species for the Dog class. Dogs, regardless of their breed, name, or other attributes, will always be mammals.

We apply this logic in the following manner:

In [2]:
class Dog:
    
    # Class Object Attribute
    species = 'mammal'
    
    def __init__(self,breed,name):
        self.breed = breed
        self.name = name

In [3]:
sam = Dog('Lab','Sam')
# Creating an object sam -- of class Dog.
# The value of its attribute breed is string 'Lab'
# and the value of its attribute name is string 'Sam'

In [4]:
sam.name

'Sam'

In [5]:
sam.breed

'Lab'

In [7]:
sam.species
# The value of this Class Object Attribute - species - is going to be same for every object/instance we create
# within this class of Dog.

'mammal'

In [8]:
# Lets create another object within the class Dog.

jerry = Dog(breed = 'Huskie', name = 'Jerry')

In [9]:
# Now, if we check the value of Class Object Attribute - species - for the Object - jerry

jerry.species

# we see that the - species - of jerry is also 'mammal' just like the previous object sam.

'mammal'

In [11]:
jerry.breed

'Huskie'

In [12]:
jerry.name

'Jerry'

Note that the Class Object Attribute is defined outside of any methods in the class. Also by convention, we place them first before the init.

## Methods
---

Methods are functions defined inside the body of a class.

You can basically think of methods as functions acting on an Object &nbsp;&nbsp;[<span style="color:blue">object.function()</span>]&nbsp;&nbsp; that takes the Object itself into consideration alongwith all of its attributes under the 'self' argument and may take any additional argument &nbsp;&nbsp;[<span style="color:blue">function(self, any_add_arg)</span>] ----- and gives a desired output.


> **Example**: See the ***setRadius(self, new_radius)*** and ***getCircumference(self)*** methods in the code shown below.
>> - **setRadius(self, new_radius):** Takes the Object itself into consideration alongwith all of its attributes under the 'self' argument and takes an additional argument 'new_radius'.<br><br>
>> - **getCircumference(self):** Takes the Object itself into consideration alongwith all of its attributes under the 'self' argument and does not take any other argument.


Let's go through an example of creating a Circle class:

In [54]:
class Circle:
# Creating a class of Circle.

    pi = 3.14
    # Class Object Attribute (Same for every instance.)

    def __init__(self, radius=1):
    # Defining attribute - radius - for any instance created within class Circle.
    # For now, we can give a default value to the radius = 1.
    # Note, that we are free to change the default value of radius = 1, everytime we create a new instance within the class.
    # However, if we do not pass any new value of radius, the program will automatically take radius = 1 as default value.
    
        self.radius = radius 
        self.area = radius * radius * Circle.pi
        # Notice that we are introducing a new attribute self.area without mentioning it inside the __init()__ brackets.
        # Notice, how we describe the Class Object Attribute - pi - inside the __init__() function as :: Circle.pi
        # We can also refer to the Class Object Attribute - pi - as self.pi and the result will be same.

    # Method for resetting Radius
    def setRadius(self, new_radius):
    # Within this method, we are introducing a new attribute (argument) -- new_radius.
    # along with all the previously defined object attributes (self.radius,self.area) referenced under the word 'self'.
    
        self.radius = new_radius
        self.area = new_radius * new_radius * self.pi
    
    # Method for getting Circumference
    def getCircumference(self):
    # Here, we are taking only the previously defined arguments of the Object under 'self' (self.radius,self.area) 
    # and not taking any new arguments 
        
        return self.radius * self.pi * 2
        # It means "return"-- [whatever is the value of self.radius] x [self.pi] x 2 
        # Note: We can assign an attribute name self.circumference to the expression [self.radius * self.pi * 2]
        #       using the syntax (just like we did in the __init()__ method):
        
        #                  def getCircumference(self):
        
        #                     self.circumference = self.radius * self.pi * 2
        
        #                     return self.circumference
        
        #       But, if we write:
        #                  def getCircumference(self):
        
        #                     return self.circumference = self.radius * self.pi * 2
        
        #       Then, Python will show an error.
        
        # OR we can as shown in the main code above. That too is error free.
 
c = Circle()
# Creating an instance of Class Circle.
# We have already given a default value of radius = 1 in __init__ method in the beginning. 
# so, for now, we are not passing any new value to the attribute - radius.

print('Radius is: ',c.radius)
# If we do not pass any new value of radius, the program will automatically take radius = 1 as default value.

print('Area is: ',c.area)
# Area will be calculated taking the default value of radius=1.

print('Circumference is: ',c.getCircumference())
# Circumference will be calculated taking the default value of radius=1.
# Notice the syntax for calling a method (defined within the Class) for an instance of the Class -- c.getCircumference()

Radius is:  1
Area is:  3.14
Circumference is:  6.28

In [55]:
# Creating a new instance within the class Circle.

n = Circle(radius = 50)
# Note, that we are free to change the default value of radius = 1, everytime we create a new instance within the class.

In [56]:
print('Radius is: ',n.radius)
# The value of n.radius will be equal to the newly assigned value of radius = 50

print('Area is: ',n.area)
# The value of n.area will be updated as per the new value of n.radius.

print('Circumference is: ',n.getCircumference())
# Notice the syntax for calling a method (defined within the Class) for an instance of the Class -- c.getCircumference()
# The value of n.getCircumference() will be updated as per the new value of n.radius.

Radius is:  50
Area is:  7850.0
Circumference is:  314.0

Notice how every other result gets updated as per the new radius value that we gave.

Now let's use method **setRadius()** and see how that affects our Circle object:

In [68]:
n.setRadius(new_radius = 60)

In [70]:
print('Radius is: ',n.radius)
print('Area is: ',n.area)
print('Circumference is: ',n.getCircumference())

Radius is:  60
Area is:  11304.0
Circumference is:  376.8

## Inheritance:
---

Inheritance is a way to form new classes using classes that have already been defined. The newly formed classes are called derived classes. And, the classes that we derive from are called base classes. Important benefits of inheritance are code reuse and reduction of complexity of a program. The derived classes (descendants) override or extend the functionality of base classes (ancestors).

Let's see an example by incorporating our previous work on the Dog class:

In [29]:
# A new class - Animal - is created.
class Animal:

    # This  def __init__(self) function is the first function to be executed as soon as we create a new instance from this class.
    # Keep this in mind.
    def __init__(self):
        print("Animal created")

    # When I run this function on my object/instance, it is going to print the string "Animal".
    def whoAmI(self):
        print("Animal")

    # When I run this function on my object/instance, it is going to print string "Eating".
    # Since this, method is not overwritten or mentioned anywhere inside the derived class Dog (see the code below)
    # we can ALSO use this function for any instance created within the derived class Dog (in future).
    def eat(self):
        print("Eating")


# Creating a new class Dog.
# This new class Dog is derived/inherited from the base class Animal that we defined earlier. 
# Any instance/object defined within this derived class Dog is going to inherit all the methods/functions
# that are defined within the parent/base/ancestor class Animal
# Class Dog is called the Descendant Class and Class Animal is called the Ancestor Class.
class Dog(Animal):

    # Overwritting the __init__(self) function craeted within the base class Animal
    # This function executes as soon as we create an instance/object within the derived class Dog.
    # If I do not define this __init__(self) function inside the derived class Dog again
    # then, as soon as we create a new instance for the derived class Dog
    # python will simply execute the __init__(self) function that is already defined under the parent class Animal.
    # This method will be applicable to any object/instance defined under the derived class Dog
    # But will not be applicable to objects/instances under parent class Animal.
    def __init__(self):

        # Now I am saying, that as soon as I create an instance/object within the derived class Dog
        # Firstly, I want to execute the __init__(self) method that is defined under the base/parent/ancestor class Animal
        # i.e print the string "Animal created"
        # DITTO -- THAT IS EXACTLY SAME TO SAME RESULT WITHOUT MAKING ANY CHANGES.
        Animal.__init__(self)
        # Secondly, print string "Dog Created"
        print("Dog created")

    # Overwritting the functionality of whoamI(self) method.
    # whoamI(self) method has a different set of instruction under the parent class Animal.
    # This method will be applicable to any object/instance defined under the derived class Dog
    # But will not be applicable to objects/instances under parent class Animal.
    def whoAmI(self):
        print("Dog")

    # Adding a new method bark(self) inside the derived class Dog
    # This method will be applicable to any object/instance defined under the derived class Dog
    # But will not be applicable to objects/instances under parent class Animal.
    def bark(self):
        print("Woof!")

In [30]:
# Firstly, let us create a new instance from the parent class Animal.
# Notice, that def __init__(self) function is the first function to be executed as soon as we create a new instance from this class.
# Keep this in mind.

f = Animal()

Animal created

In [31]:
# Using function whoAmI() [defined inside the parent class Animal] on the instance.
f.whoAmI()

Animal

In [32]:
# Using function eat() [defined inside the parent class Animal] on the instance.
f.eat()

Eating

In [33]:
# Now if we try to use a Dog class method/function bark() (not defined under base class Animal) 
# it shows an error.
# Because the object/instance f is actually created under the base class Animal 
# and not under the derived class Dog.
f.bark()

AttributeError: 'Animal' object has no attribute 'bark'

In [34]:
# Now, let us create an instance/object from the derived class Dog
# Now, as soon as I create the instance, 
# the __init__(self) method of both the parent class Animal and derived class Dog is executed.
# because we have specifically mentioned the -- Animal.__init__(self) -- line inside the 
# __init__(self) method of Dog class.
bolt = Dog()

Animal created
Dog created

In [15]:
# Using the method whoAmI(self) on the instance bolt (created under the derived class Dog)
# Notice that it gives a different output for the instance bolt (created under the derived class Dog)
# than the the time we used it for the instance f (created under the parent class Animal)
# This is because we have overwritten this function inside the derived class Dog once again to give a different output.
bolt.whoAmI()

Dog

In [16]:
# To see the difference.
f.whoAmI()

Animal

In [26]:
# Now, since instance bolt is defined under the class Dog (which is derived from the parent class Animal)
# it inherits all the functions/methods defined inside the parent class Animal by default.
# Notice, there is a method eat(self) defined under the parent class Animal.
# This function has NOT be overwritten (like whoAmI() AND __init(self) methods) 
# nor mentioned anywhere inside the derived class Dog.
# we can use this function for instance bolt also.

bolt.eat()

# Notice that it gives the same output as defined under the Animal class.

Eating

In [35]:
# Using the method/function bark(self) [defined under the derived class Dog]
# on the object/instance bolt created within the derived class Dog.
bolt.bark()

Woof!

In this example, we have two classes: Animal and Dog. The Animal is the base class, the Dog is the derived class.<br>

The derived class inherits the functionality of the base class.
- It is shown by the **eat()** method.<br>

The derived class modifies existing behavior of the base class.
- Shown by the **whoAmI()** method and **__init__(self)** method.<br>

Finally, the derived class extends the functionality of the base class.
- Shown by defining a new **bark()** method